{% extends "base.html" %} 

{% block title %}忍者酷跑{% endblock%} 
{% block page_content%}
<a style="float:right;padding-left:10px;" href="/signup">注册</a>&emsp;&emsp;
<a style="float:right" href="/logout">登出</a>
<h1>Game Index Page</h1>

<div class="page-header">
    {% if name %}
    <h2>Hello,{{ name }}</h2>
    <a href='/introduction'>查看游戏介绍</a> {% else %}
    <h2>Hello,Vistor</h2>
    <p>欢迎注册</p>
    {% endif %}
</div>

<br /><br />
<div style="float:right;">
    <p>{{ moment(current_time).format('LLL') }}</p>
    <p>{{ moment(current_time).fromNow(refresh=True) }}</p>
    <!--刷新时间-->
</div>
{% endblock%}