{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Index{% endblock%}

{% block page_content %}
<h1>Index Page</h1>

<div class="page-header">
{% if name %}
<h2>Hello,{{ name }}</h2>
{% else %}
<h2>Hello,Vistor</h2>
{% endif %}
</div>
<!--wtf.quick_form()函数的参数为Flask-WTF表单对象，使用Bootstrap样式渲染传入的表单。
-->
{{ wtf.quick_form(form) }}
<!--
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label  }} {{ form.name() }}
    {{ form.submit() }}
</form>
-->
<br /><br />
<p>{{ moment(current_time).format('LLL') }}</p>
<p>{{ moment(current_time).fromNow(refresh=True) }}</p><!--刷新时间-->
{% endblock%}

