<!doctype html>
<html>
    <head>
        <title>测试</title>
        
        <meta charset="utf-8">
    </head>
    <body>
        userName:<input type="text" id="username"/><br/>
        password:<input type="text" id="password"><br/>
        <button id="test1">test</button><br/>
        <button id="test2">validate</button><br/>
        <button id="test3">getRank</button>
    </body>
    <!--<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        $(function(){
            $("#test3").click(function() {
                //validate测试
                $.get('/getrank',{userName : "lqb111"}).done(function(data){
                    data = eval('('+data+')');
                    // console.log(data['username']);
                //    alert(data['username']);
                    if(!data['error']) {
                        alert(data);
                    }
               });
            });
            
            
            $("#test2").click(function() {
                //validate测试
                $.get('/validate',{userName : "lqb111",password:"lqb111"}).done(function(data){
                    data = eval('('+data+')');
                    console.log(data['username']);
                //    alert(data['username']);
                    if(!data['error']) {
                        alert(data['username'])
                    }
               });
            });
            
            
            $("#test1").click(function(){
            //    $.get('/validate',{userName : "test1"}).done(function(data){
            //         data = eval('('+data+')');
            //         console.log(data['username']);
            //     //    alert(data['username']);
            //         if(!data['error']) {
            //             alert(data['username'])
            //         }
            //    });
                var username = $("#username").val();
                var password = $("#password").val();
                console.log(username); 
                // $.post('/register',{}).done(function(data){
                //     console.log(data);
                    
                // }) 
                $.ajax({
                    type: 'GET',
                    // Provide correct Content-Type, so that Flask will know how to process it.
                    contentType: 'application/json',
                    // Encode data as JSON.
                    // data: JSON.stringify({
                    //     userName:username,
                    //     password:password
                    // }),
                    data: {
                        userName: username,
                        password: password
                    },
                    
                    // This is the type of data expected back from the server.
                    dataType: 'json',
                    url: '/registerget',
                    success: function (ret) {
                        alert('JSON posted: ' + JSON.stringify(ret));
                    }
                });
            });
            
        })
        
    </script>
</html>